.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.app_box{
	margin: 100px !important;
	border: 3px solid #ddd;
}

.table_row_1{
	background-color: #ffc !important;
}

.table_row_2{
	background-color: #ffd !important;
}

.table_row_3{
	background-color: #ffe !important;
}

.table_row_4{
	background-color: #ddc !important;
}

.table_col1_1{
	padding-left: 2%	!important;
}
.table_col1_2{
	padding-left: 4%	!important;
}
.table_col1_3{
	padding-left: 6%	!important;
}

.table_col1_4{
	padding-left: 8%	!important;
}

.table_col1{
	width: 30% !important;
}

.table_col2{
	width: 10% !important;
}

.table_col3{
	width: 60% !important;
}
 