<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
	<meta charset='utf-8'>
    <script src="js/framework/angular.js"></script>
    <script src="js/framework/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="js/framework/angular-indexed-db.js"></script>
    <script src="js/db.js"></script>
    <script src="js/app.js"></script>
    
    <link href="css/framework/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body>
    <div ng-controller="ModalDemoCtrl" class="app_box">
        <script type="text/ng-template" id="modalModul.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    <label>Klasse</label>
                    <input class="form-control" type="text" placeholder="Klassenname" ng-model="info.moduleClass" readonly>
              </div>
              <div class="form-group">
                    <label>Übergeordnetes Modul</label>
                    <input class="form-control" type="text" placeholder="" ng-model="info.parentName" readonly>
              </div>
              <div class="form-group">
                    <label for="modul_name">Modulname</label>
                    <input type="text" class="form-control" placeholder="Name" ng-model="info.moduleName">
              </div>
              <div class="form-group">
                    <label for="exampleInputPassword1">Wichtung</label>
                    <input type="number" class="form-control" ng-model="info.moduleWeight">
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{func}}</button>
                <button class="btn btn-danger" ng-show="info.newModule == 0" ng-click="delete()">Löschen</button>
                <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
            </div>
        </script>
        
		<script type="text/ng-template" id="modalClass.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" placeholder="Klassenname" ng-model="info.name">
              </div>
              <div class="form-group">
                    <label>Jahrgang</label>
                    <input class="form-control" type="text" placeholder="" ng-model="info.level">
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{func}}</button>
                <button class="btn btn-danger" ng-show="info.newModule == 0" ng-click="delete()">Löschen</button>
                <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
            </div>
        </script>
		
		<script type="text/ng-template" id="modalStudent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    <label>Klasse</label>
                    <input class="form-control" type="text" placeholder="Klassenname" ng-model="info.className" readonly>
              </div>
			   <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" placeholder="Name" ng-model="info.name">
              </div>
              <div class="form-group">
                    <label>Geburtsdatum</label>
                    <input class="form-control" type="text" placeholder="" ng-model="info.bdate">
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{func}}</button>
                <button class="btn btn-danger" ng-show="info.id == 0" ng-click="delete()">Löschen</button>
                <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
            </div>
        </script>
        
        <script type="text/ng-template" id="multiLevelTable">
                <table class="table table-striped nopadding">
                <thead ng-show="childItem == 0">
                    <tr>
                        <th class="table_col1" >
                            <span>Module</span>
                            <div class="btn-group  pull-right">
                                <button type="button" class="btn btn-default" aria-label="New" ng-click="openModule(0)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>
                        </th>
                        <th class="table_col2" >Bewertung</th>
                        <th class="table_col3" >Bemerkung</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="storedata in storedata.data">
                    <tr class="table_row_{{childItem}}">
                        <td class="table_col1 table_col1_{{childItem}}" >
                            <span>{{storedata.name}} </span>
                            <div class="btn-group  pull-right">
                                <button type="button" class="btn btn-default" aria-label="Edit" ng-click="openModule(storedata.moduleId, storedata)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default" aria-label="New" ng-click="openModule(storedata.moduleId)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>
                        </td>
                        <td class="table_col2" >
                            <div class="btn-group" dropdown>
                                <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
                                    <span class="menu-item" ng-model="storedata.rating" >{{storedata.rating}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a ng-click='changeRatingValue( storedata,"-" )' role="menuitem" href="#">-</a></li>
                                    <li><a ng-click='changeRatingValue( storedata,"1" )' role="menuitem" href="#">1</a></li>
                                    <li><a ng-click='changeRatingValue( storedata,"2" )' role="menuitem" href="#">2</a></li>
                                    <li><a ng-click='changeRatingValue( storedata,"3" )' role="menuitem" href="#">3</a></li>
                                    <li><a ng-click='changeRatingValue( storedata,"4" )' role="menuitem" href="#">4</a></li>
                                </ul>
                            </div>
                           
                        </td> 
                        <td class="table_col3" ><input type="text" class="form-control" placeholder="Bemerkung" ng-blur='changeRatingAddInfo( storedata, storedata.addInfo )' ng-model="storedata.addInfo"></td>
                    </tr>
                    <tr ng-show="storedata.data != null">
                        <td colspan="3" class="nopadding">
                            <div class="nopadding" ng-init="childItem=childItem+1" ng-include="'multiLevelTable'"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
        
        <div class="" style="display:table;padding: 5px;">
            <div style="display:table-row;">
                
                 <div class="btn-group"  style="display:table-cell;padding-right: 5px;">
                    <div class="btn-group" dropdown>
                        <button style="width:200px;" class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
                            <span class="menu-item" >{{selectedClass.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li ng-repeat="myClass in dropDownClass" ng-click='setDropDownClass(myClass)'><a role="menuitem" href="#">{{myClass.name}}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li ng-click='openClass()'><a role="menuitem" href="#">Neue Klasse</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default " type="button">
                       <span class="glyphicon glyphicon-pencil" ng-click="openClass(selectedClass)" aria-hidden="true">
                    </button>
                    <button class="btn btn-default " type="button">
                       <span class="glyphicon glyphicon-plus" ng-click="openClass()" aria-hidden="true">
                    </button>
                 </div>
                 
                 <div class="btn-group"  style="display:table-cell;padding-right: 5px;">
                    <div class="btn-group" dropdown >
                        <button style="width:200px;" class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
                            <span class="menu-item" >{{selectedStudent.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li ng-repeat="student in dropDownStudent" ng-click='setDropDownStudent(student)'> <a role="menuitem" href="#">{{student.name}}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li ng-click='openStudent(selectedClass)'><a role="menuitem" href="#">Neuer Schüler</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" ng-click="openStudent(selectedClass, selectedStudent)" type="button">
                       <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </button>
                    <button class="btn btn-default" ng-click="openStudent(selectedClass)" type="button">
                       <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </button>
                </div>
                
               <div class="btn-group" style="display:table-cell;" dropdown>
                    <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
                        <span class="menu-item">{{selectedUser.name}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li ng-repeat="myUser in dropDownUser" ng-click='setDropDownUser(myUser)'><a role="menuitem" href="#">{{myUser.name}}</a></li>
                    </ul>
               </div>
               
            </div>
        </div>
        
        <div ng-include="'multiLevelTable'"></div>
        
    </div>
</body>
</html>
